body {
    background: rgb(235, 232, 229);
    font-family: 'EB Garamond', serif;
}

h1 {
    color: rgb(110, 52, 9);
    font-size: 50px;
    text-align: center;
}

h2 {
    color: rgb(221, 131, 67);
}

.container {

}

.wrapper {
    
}

.font-size {
    font-size: 21px;
}

.sm-font {
    font-size: 18px;
}

.home-page,
.about-me {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 6px 15px;
    text-decoration: none;
    border-radius: 30px;
}

.home-page {
    background: chocolate;
    border: 3px solid chocolate;
}

.about-me {
    background: rgb(221, 131, 67);
    border: 3px solid rgb(221, 131, 67);
}

.home-page:hover,
.home-page:focus,
.about-me:hover,
.about-me:focus {
    background: bisque;
    color: chocolate;
}

.link {
    color: chocolate;
}

.link:visited {
    color: purple;
}

.link:hover,
.link:focus {
    color: blue;
}

.link:active {
    color: crimson;
}