body {
    background: bisque;
    font-family: 'EB Garamond', serif;
}

h1 {
    color: rgb(110, 52, 9);
    font-size: 50px;
    text-align: center;
}

h2 {
    color: rgb(221, 131, 67);
}

.font-size {
    font-size: 21px;
}

.sm-font {
    font-size: 18px;
}

.home-page {
    background: chocolate;
    color: #fff;
    font-size: 18px;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 30px;
}

.about-me {
    background: rgb(221, 131, 67);
    color: #fff;
    font-size: 18px;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 30px;
}